<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ThatchBackground">
    <ImageView
        android:src="@drawable/IntroLogo"
        android:id="@+id/imageView1"
        android:layout_gravity="center_horizontal"
        android:layout_marginBottom="0.0dp"
        android:padding="0dp"
        android:layout_width="wrap_content"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="10dp"
        android:layout_height="wrap_content"
        android:adjustViewBounds="true" />
    <HorizontalScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="350dp"
        android:id="@+id/introSlidesHolder"
        android:scrollbars="none">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/HomePage1"
                android:layout_height="fill_parent"
                android:id="@+id/introCard1"
                style="@style/IntroCard" />
            <ImageView
                android:src="@drawable/HomePage2"
                android:layout_height="fill_parent"
                android:id="@+id/introCard2"
                style="@style/IntroCard" />
            <ImageView
                android:src="@drawable/HomePage3"
                android:layout_height="fill_parent"
                android:id="@+id/introCard3"
                style="@style/IntroCard" />
            <ImageView
                android:src="@drawable/HomePage4"
                android:layout_height="fill_parent"
                android:id="@+id/introCard4"
                style="@style/IntroCard" />
            <LinearLayout
                android:id="@+id/loginCard"
                android:orientation="vertical"
                style="@style/IntroCard"
                android:layout_height="fill_parent"
                android:background="@drawable/HomePage5">
                <Button
                    android:layout_width="250dp"
                    android:layout_height="75dp"
                    android:label="Login"
                    android:id="@+id/loginButton"
                    android:gravity="center"
                    android:layout_gravity="center_horizontal"
                    android:layout_marginTop="100dp"
                    android:background="@drawable/LoginButton" />
                <Button
                    android:layout_width="75dp"
                    android:layout_height="20dp"
                    android:label="Login"
                    android:id="@+id/registerButton"
                    android:gravity="center"
                    android:layout_gravity="center_horizontal"
                    android:layout_marginTop="17.7dp"
                    android:background="@drawable/RegisterButton" />
                <Button
                    android:id="@+id/resetButton"
                    android:layout_width="wrap_content"
                    android:layout_height="20dp"
                    android:text="Forgot password?"
                    android:textColor="@android:color/black"
                    android:gravity="center"
                    android:layout_gravity="center_horizontal"
                    android:layout_marginTop="17.7dp"
                    android:background="@android:color/transparent" />
            </LinearLayout>
        </LinearLayout>
    </HorizontalScrollView>
</LinearLayout>