<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <include
        android:id="@+id/parentDirectoryHeader"
        layout="@layout/ParentDirectoryHeader" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent">
        <MyDiem.Droid.CircleImageView
            android:layout_weight="0.8"
            android:id="@+id/profilePicture"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:scaleType="fitCenter"
            android:layout_gravity="center"
            android:padding="5dp" />
        <LinearLayout
            android:layout_weight="0.2"
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent">
            <TextView
                android:duplicateParentState="true"
                android:text="Large Text"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:layout_weight="0.5"
                android:id="@+id/parentNameText"
                android:textColor="@drawable/list_dark_gray_text_selector"
                android:layout_marginLeft="20dp"
                android:layout_marginTop="20dp"
                android:layout_marginBottom="0dp" />
            <TextView
                android:duplicateParentState="true"
                android:text="Large Text"
                android:layout_weight="0.5"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:id="@+id/childrenNameText"
                android:textColor="@drawable/list_gray_text_selector"
                android:layout_marginLeft="20dp"
                android:layout_marginTop="0dp"
                android:layout_marginBottom="20dp" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_marginLeft="0dp"
        android:layout_marginRight="0dp"
        android:layout_height="1dp"
        android:background="#b8b8b8" />
</LinearLayout>