<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/HeaderBackground"
    android:minHeight="50dp"
    android:id="@+id/header">
    <FrameLayout
        android:layout_width="fill_parent"
        android:layout_height="50dp">
        <ImageView
            android:src="@drawable/SettingsMenuButton"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/settingsButton"
            android:layout_marginLeft="10dp"
            android:alpha=".75"
            android:layout_gravity="center_vertical" />
        <LinearLayout
            android:layout_gravity="right"
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content">
            <SearchView
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/searchInput" />
            <ImageView
                android:src="@drawable/MapIcon"
                android:layout_width="35dp"
                android:layout_height="fill_parent"
                android:id="@+id/mapButton"
                android:layout_marginLeft="0dp"
                android:alpha=".75" />
            <ImageView
                android:src="@drawable/FilterIcon"
                android:layout_width="35dp"
                android:layout_height="fill_parent"
                android:id="@+id/filterButton"
                android:layout_marginLeft="0dp"
                android:alpha=".75" />
            <Button
                android:text="Button"
                android:layout_width="70dp"
                android:id="@+id/rightHeaderButton"
                android:background="@drawable/OrangeButtonBackground"
                style="@style/HeaderButton"
                android:layout_height="match_parent"
                android:layout_marginRight="10dp"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="8dp"
                android:gravity="center" />
        </LinearLayout>
        <TextView
            android:text="Screen Title"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/screenTitle"
            android:gravity="center"
            android:layout_gravity="center_vertical"
            android:textSize="20dp" />
        <ImageButton
            android:src="@drawable/leftarrow"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/leftArrowButton"
            android:background="#00ffffff"
            android:layout_marginLeft="100dp" />
        <ImageButton
            android:src="@drawable/rightarrow"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/rightArrowButton"
            android:background="#00ffffff"
            android:layout_gravity="right"
            android:layout_marginRight="100dp" />
    </FrameLayout>
</LinearLayout>