<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:background="@drawable/ThatchBackground">
    <include
        android:id="@+id/header"
        layout="@layout/ScreenHeader" />
    <TextView
        android:text="@string/optionsLabel"
        android:id="@+id/groupHeaderTextView"
        style="@style/GroupedListItemHeader" />
    <FrameLayout
        style="@style/GroupedListItem"
        android:background="@drawable/GroupedListItemBackgroundColors"
        android:id="@+id/linearLayout1">
        <TextView
            android:text="@string/enabledLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/groupItemLabelTextView"
            android:gravity="center_vertical"
            android:textColor="#ff434343" />
        <CheckBox
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/enabledCheckBox"
            android:layout_gravity="right"
            android:textColorHighlight="#ff000000"
            android:textColor="#ffff0000"
            android:gravity="right" />
    </FrameLayout>
    <FrameLayout
        style="@style/GroupedListItem"
        android:background="@drawable/GroupedListItemBackgroundColors"
        android:id="@+id/colorRow">
        <TextView
            android:text="@string/chooseColorLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/groupItemLabelTextView"
            android:gravity="center_vertical"
            android:textColor="#ff434343" />
        <View
            android:id="@+id/colorSwatchView"
            android:layout_width="45dp"
            android:layout_height="fill_parent"
            android:background="#ff0000"
            android:layout_gravity="right" />
    </FrameLayout>
    <GridView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/colorGridView"
        android:numColumns="auto_fit"
        android:columnWidth="50dp"
        android:stretchMode="columnWidth"
        android:background="#ffffffff"
        android:listSelector="#8f000000"
        android:drawSelectorOnTop="true"
        android:choiceMode="singleChoice" />
</LinearLayout>