<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    tools:gridSpec="1|8|#0093eeff|K:#ee8700ff:16,l:72,l:16,r|S:#83ee00ff:16,0,l:16,56,l:16,0,r">
    <MyDiem.Droid.CircleImageView
        android:id="@+id/profilePicture"
        android:layout_width="70dp"
        android:layout_height="70dp"
        android:scaleType="fitCenter"
        android:layout_gravity="center"
        android:padding="5dp" />
<!-- First Name -->
    <TextView
        android:text="Tap to Edit"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/tapToEdit"
        android:gravity="center" />
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="60dp"
        android:id="@+id/firstNameRow"
        style="@style/UserFormRow"
        android:orientation="horizontal">
        <EditText
            android:inputType="textPersonName"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/firstNamEditText"
            android:hint="@string/firstNamePlaceholder"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground"
            android:layout_gravity="right"
            android:gravity="right" />
        <TextView
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/textView1"
            style="@style/UserFormLabel"
            android:hint="@string/firstNameLabel" />
    </FrameLayout>
<!-- Last Name -->
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/lastNameRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/lastNameLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView1"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="textPersonName"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/lastNameEditText"
            android:hint="@string/lastNamePlaceholder"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
<!-- Phone 1 -->
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/phone1Row"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/phone1Label"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="phone"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/phone1EditText"
            android:hint="@string/phonePlaceholder"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
<!-- Share Phone 1 -->
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/sharePhone1Row"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/sharePhone1Label"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/textView3"
            style="@style/UserFormLabel"
            android:layout_gravity="center"
            android:gravity="center_vertical" />
        <ToggleButton
            android:layout_width="30dp"
            android:layout_height="30dp"
            android:id="@+id/sharePhone1Toggle"
            style="@style/UserFormInput"
            android:textOff=""
            android:textOn=""
            android:gravity="right" />
    </LinearLayout>
<!-- Phone 2 -->
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/phone2Row"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/phone2Label"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="phone"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/phone2EditText"
            android:hint="@string/phonePlaceholder"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
<!-- Share Phone 2 -->
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/sharePhone2Row"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/sharePhone2Label"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView3"
            style="@style/UserFormLabel"
            android:gravity="center_vertical" />
        <ToggleButton
            android:layout_width="30dp"
            android:layout_height="30dp"
            android:id="@+id/sharePhone2Toggle"
            style="@style/UserFormInput"
            android:gravity="right"
            android:textOff=""
            android:textOn="" />
    </LinearLayout>
<!-- Street -->
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/streetRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/streetLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="textPostalAddress"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/streetEditText"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
<!-- Share Street -->
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/shareStreetRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/shareStreetLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView3"
            style="@style/UserFormLabel"
            android:gravity="center_vertical" />
        <ToggleButton
            android:layout_width="30dp"
            android:layout_height="30dp"
            android:id="@+id/shareStreetRadioButton"
            style="@style/UserFormInput"
            android:textOff=""
            android:textOn=""
            android:gravity="right" />
    </LinearLayout>
<!-- City
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/cityRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/cityLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="textPostalAddress"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/citytEditText"
            style="@style/UserFormInput"
            android:background="@drawable/NoBackground" />
    </FrameLayout> -->
<!-- State -->
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/stateRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/stateLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <Spinner
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/stateSpinner"
            android:layout_marginTop="10dp" />
    </LinearLayout>
<!-- Zip -->
    <FrameLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/zipRow"
        style="@style/UserFormRow"
        android:layout_marginBottom="20dp">
        <TextView
            android:text="@string/zip"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="number"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/zipEditText"
            android:hint="@string/zipPlaceholder"
            android:background="@drawable/NoBackground"
            style="@style/UserFormInput" />
    </FrameLayout>
<!-- Private Schools -->
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/privateSchoolsRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/privateSchoolsLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView3"
            android:gravity="center_vertical"
            style="@style/UserFormLabel" />
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/privateSchoolsRadioButton"
            android:checked="false"
            style="@style/UserFormInput"
            android:inputType="none"
            android:gravity="right" />
    </LinearLayout>
<!-- Public Schools -->
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/publicSchoolsRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/publicSchoolsLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView3"
            android:gravity="center_vertical"
            RadioButton="@style/UserFormLabel"
            style="@style/UserFormLabel" />
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/publicSchoolsRadioButton"
            android:checked="false"
            style="@style/UserFormInput"
            android:inputType="none"
            android:gravity="right" />
    </LinearLayout>
<!-- Region -->
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/regionRow"
        style="@style/UserFormRow"
        android:visibility="gone">
        <TextView
            android:text="@string/regionLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <Spinner
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/regionSpinner"
            android:layout_marginTop="10dp" />
    </LinearLayout>
<!-- County -->
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/countyRow"
        style="@style/UserFormRow"
        android:visibility="gone">
        <TextView
            android:text="@string/countyLabel"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <Spinner
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/countySpinner"
            android:layout_marginTop="10dp" />
    </LinearLayout>
<!-- Email -->
    <FrameLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/emailRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/email"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/emailTextView"
            style="@style/UserFormLabel" />
        <EditText
            android:inputType="textEmailAddress"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/emailEditText"
            android:hint="@string/emailPlaceholder"
            android:background="@drawable/NoBackground"
            style="@style/UserFormInput" />
    </FrameLayout>
<!-- Password -->
    <FrameLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/passwordRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/password"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <EditText
            style="@style/UserFormInput"
            android:inputType="textPassword"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/passwordEditText"
            android:hint="@string/passwordPlaceholder"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
<!-- Verify -->
    <FrameLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/verifyRow"
        style="@style/UserFormRow">
        <TextView
            android:text="@string/passwordVerify"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="fill_parent"
            android:id="@+id/textView2"
            style="@style/UserFormLabel" />
        <EditText
            style="@style/UserFormInput"
            android:inputType="textPassword"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:gravity="right"
            android:id="@+id/verifyEditText"
            android:hint="@string/passwordPlaceholder"
            android:background="@drawable/NoBackground" />
    </FrameLayout>
</LinearLayout>